<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="TMAWebServiceSoap" allowCookies="true" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/WebService.asmx" binding="basicHttpBinding"
                bindingConfiguration="TMAWebServiceSoap" contract="TMAService.TMAWebServiceSoap"
                name="TMAWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>